code, pre {
  font-family: "Monaco", monospace;
  font-size: 0.5em;
  font-weight:300;
}
pre {
  color: #555555;
  background-color: rgb(250, 250, 250);
  border: 1px solid #CCCCCC;
  padding: 10px 10px;
  margin: 10px -10px;
}
/* Comments */
.cmt {
  color:#888888;
}

/* Strings */
.str {
  color:#3C85A2;
}

/* Keywords */
.kwd {
  color:#2A6FB7;
}

/* Syntatic Sugar/Important stuff */
.imp {
  color:#208B49;
}
